
.priorityBox{ 
  border: 1px solid lightgray; 
  ul { 
    min-height: 100px; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
  }
  padding: 1em; 
  h3 { 
    margin: 0; 
  }
  
}

printing-priority{ 
  display: flex; 
  flex-direction: column; 
  h3 { 
    margin-top: 0; 
  }
  >:nth-child(2) { 
    background: rgba(255, 0, 0, 0.596) 
  }
  >:nth-child(3) { 
    background: rgba(255, 0, 0, 0.36); 
  }
  >:nth-child(4) { 
    background: #ff000030; 
  }
  
  
}