#item { 
  border: 1px solid lightgray;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0 1em; 
  background: white; 
  box-shadow: 10px 10px alpha($color: gray); 
}